<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client Server - EJS</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <span class="mobile-header-background"></span>
    <div class="body-wrapper">
      <h1>ChatBot</h1>
      <div class="chat-messages-wrapper">
        <div class="chat-messages">
          <% messages.forEach(msg => { %>
          <div class="message <%= msg.sender.toLowerCase() %>">
            <%= msg.text %>
          </div>
          <% }) %>
        </div>
        <!--<% if (typeof error !== 'undefined' && error) { %>
        <div class="error-message"><strong>Error:</strong> <%= error %></div>
        <% } %>-->
      </div>
      <form method="POST" action="/chat" class="chat-form">
        <input
          type="text"
          name="message"
          placeholder="Write your message here"
          class="chat-input"
        />
        <button type="submit" class="chat-button">Send</button>
      </form>
    </div>
    <script>
      const chat = document.querySelector(".chat-messages-wrapper");
      chat.scrollTop = chat.scrollHeight;
    </script>
  </body>
</html>
